{% extends 'base.html' %}
{% load static %}
{% block body %}
  <div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card cover-card text-center">
      <h1 class="cover-heading">Task Manager</h1>
      <p class="cover-text">A task manager application by Team <i>Lynx</i></p>
      <p>
        <a href='{% url 'sign_up' %}' class="btn btn-lg btn-secondary">
          Sign up
        </a>
      </p>
      <p>
        <a href='{% url 'log_in' %}' class="btn btn-lg btn-secondary">
          Log in
        </a>
      </p>
      <p>
        <a href = '{% url 'tutor_sign_up' %}' class="btn btn-lg btn-secondary">
          Tutor sign up
        </a>
      </p>
    </div>
  </div>
  <body id="bg"style="background-image: url('{% static 'background.jpg' %}');background-attachment: fixed;background-repeat: no-repeat;background-size: 100% 100%;background-position: center center;">
</body>

{% endblock %}
