<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    {% if user.is_authenticated %}
      <!-- Display different dashboard links based on user role -->
      {% if user.role == 'student' %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'student_dashboard' %}">Student Dashboard</a>
        </li>
      {% elif user.role == 'tutor' %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tutor_dashboard' %}">Tutor Dashboard</a>
        </li>
      {% elif user.role == 'admin' %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin_dashboard' %}">Admin Dashboard</a>
        </li>
      {% endif %}
      <!-- User account dropdown menu -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="user-account-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="bi-person-circle"></span> {{ user.username }}
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-account-dropdown">
          <li><a class="dropdown-item" href="{% url 'profile' %}">Change Profile</a></li>
          <li><a class="dropdown-item" href="{% url 'password' %}">Change Password</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'log_out' %}">Log Out</a></li>
        </ul>
      </li>
    {% else %}
      <!-- Links for users who are not authenticated -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'log_in' %}">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'sign_up' %}">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tutor_sign_up' %}">Tutor Sign Up</a>
      </li>
    {% endif %}
  </ul>
</div>
